<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carndos.modules.res.dao.ResourceMapper">
    <resultMap id="SysResourceResultMap" type="com.carndos.modules.res.entity.SysResource">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="res_fid" jdbcType="BIGINT" property="resFid"/>
        <result column="res_name" jdbcType="VARCHAR" property="resName"/>
        <result column="res_type" jdbcType="VARCHAR" property="resType"/>
        <result column="res_url" jdbcType="VARCHAR" property="resUrl"/>
        <result column="res_status" jdbcType="INTEGER" property="resStatus"/>
        <result column="res_desc" jdbcType="VARCHAR" property="resDesc"/>
        <result column="res_create_time" jdbcType="TIMESTAMP" property="resCreateTime"/>
        <result column="res_delete_time" jdbcType="TIMESTAMP" property="resDeleteTime"/>
    </resultMap>

    <parameterMap id="sysResource" type="com.carndos.modules.res.entity.SysResource"/>

    <insert id="insertNewResource" parameterMap="sysResource" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        INSERT INTO sys_resource (res_fid, res_name, res_type, res_url, res_status, res_desc, res_create_time)
        VALUES
            (#{resFid}, #{resName}, #{resType}, #{resUrl}, #{resStatus}, #{resDesc}, now());
    </insert>

    <select id="queryResourceOrderById" resultMap="SysResourceResultMap">
        SELECT
            id,
            res_fid,
            res_name,
            res_url,
            res_desc,
            res_status
        FROM
            sys_resource
        where res_status != -1
        ORDER BY id
    </select>


</mapper>