<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhj.modules.res.dao.ResRoleMapper">

    <!--PoJo Mapping-->
    <resultMap id="PoJoResRoleResultMap" type="com.yhj.modules.res.pojo.PoJoResRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="resUrl" jdbcType="VARCHAR" property="resUrl"/>
        <result column="roleName" jdbcType="VARCHAR" property="roleName"/>
        <result column="resName" jdbcType="VARCHAR" property="resName"/>
        <result column="resDesc" jdbcType="VARCHAR" property="resDesc"/>
    </resultMap>

    <!--Entity Mapping-->
    <resultMap id="SysResRoleResultMap" type="com.yhj.modules.res.entity.SysResRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="res_id" jdbcType="BIGINT" property="resId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="res_status" jdbcType="VARCHAR" property="resStatus"/>
    </resultMap>

    <!--Entity ParameterMap-->
    <parameterMap id="sysUserRole" type="com.yhj.modules.res.entity.SysResRole"/>

    <insert id="saveResToRole" parameterMap="sysUserRole" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into res_role (res_id, role_id) values (#{resId}, #{roleId})
        on duplicate key update res_status = 1
    </insert>


    <update id="updateResStatus" parameterType="map">
        update res_role
        set res_status = #{resStatus}
        where res_id = #{resId}
        <if test="roleIds != null and roleIds.length > 0 ">
            and role_id not in
            <foreach collection="roleIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

    </update>

    <select id="queryAllResRole" resultMap="PoJoResRoleResultMap">
        SELECT
            rr.id            AS id,
            resource.res_url AS resUrl,
            role.role_name   AS roleName,
            res_name         AS resName,
            res_desc         as resDesc
        FROM
            sys_resource resource
            LEFT JOIN
            res_role rr ON rr.res_id = resource.id
            LEFT JOIN
            sys_role role ON rr.role_id = role.id
    </select>


    <select id="queryResAssignedRoleIds" resultType="int">
        select role_id
        from res_role
        where res_id = #{resId} and res_status = 1
    </select>


</mapper>