<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhj.modules.res.dao.ResRoleMapper">
    <resultMap id="BaseResultMap" type="com.yhj.modules.res.entity.ResRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="resRole" jdbcType="VARCHAR" property="accessResRole"/>
        <result column="resUrl" jdbcType="VARCHAR" property="accessResUrl"/>
    </resultMap>

    <select id="queryAllResRole" resultMap="BaseResultMap">
        SELECT
            rr.id            AS id,
            resource.res_url AS resUrl,
            role.role_name   AS resRole
        FROM
            sys_resource resource
            LEFT JOIN
            res_role rr ON rr.res_id = resource.id
            LEFT JOIN
            sys_role role ON rr.role_id = role.id
    </select>

</mapper>