<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhj.web.dao.sys.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.yhj.web.entity.sys.SysUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_passwd" jdbcType="VARCHAR" property="userPasswd"/>
        <result column="user_status" jdbcType="INTEGER" property="userStatus"/>
        <result column="user_desc" jdbcType="VARCHAR" property="userDesc"/>
        <result column="user_create_time" jdbcType="TIMESTAMP" property="userCreateTime"/>
        <result column="user_delete_time" jdbcType="TIMESTAMP" property="userDeleteTime"/>
        <!-- 该该用户拥有的权限 -->
        <collection property="roles" ofType="com.yhj.web.entity.sys.SysUserRole">
            <id column="rid" jdbcType="BIGINT" property="id"/>
            <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
            <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        </collection>
        
    </resultMap>

    <select id="querySysUserByName" resultMap="BaseResultMap" parameterType="String">
        SELECT
            su.id,
            su.user_name,
            su.user_passwd,
            su.user_desc,
            su.user_status,
            su.user_create_time,
            su.user_delete_time,
            sr.id AS rid,
            sr.role_name
        FROM
            sys_user su LEFT JOIN user_role ur ON su.id = ur.user_id
            LEFT JOIN sys_role sr ON sr.id = ur.role_id
        WHERE
            su.user_name = #{userName}
    </select>


</mapper>