<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhj.web.dao.user.UserMapper">
  <resultMap id="BaseResultMap" type="com.yhj.web.entity.user.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_passwd" jdbcType="VARCHAR" property="userPasswd" />
    <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    <result column="user_desc" jdbcType="VARCHAR" property="userDesc" />
    <result column="user_create_time" jdbcType="TIMESTAMP" property="userCreateTime" />
    <result column="user_delete_time" jdbcType="TIMESTAMP" property="userDeleteTime" />
  </resultMap>
</mapper>